<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favicon/favicon.ico?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body style="background-color:powderblue;">
    <h1>Hello, you are logged in.</h1>
    <a href="{{url_for('uploadblob')}}">Upload to Azure</a><br>
    <a href="{{url_for('uploadertoAWS')}}">Upload to AWS</a><br>
    <a href="{{url_for('converter')}}">Convert file</a><br><br><br><br><br><br><br>
    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>

</html>