<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favicon/favicon.ico?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="cool.css">
</head>

<body style="background-color:powderblue;">
    <h1>Welcome to the better Plex</h1>
    <a href="{{ url_for('login') }}">Login Page</a><br>
    <a href="{{ url_for('register') }}">Register Page</a><br>

</body>

</html>